body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

button {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    border: none;
    font-size: 24px;
    font-weight: 700;
    margin: 2px;
}


#display {
    width: 100%;
    margin: 0;
    padding: 20px;
    border: none;
    background-color: white;
    font-size: 24px;
    text-align: left;
    color: black;

}

.display {
    width: 100%;
}
.calculator {
    padding: 5px;
    background-color: rgba(47, 47, 47, 1);
    border-radius: 5px;
    overflow: hidden;
    
}